<div class="w-100 d-flex justify-content-center align-items-center flex-column mb-5" style="height:calc(100vh - 20vh);">
    <h1 class="text-danger mb-4">DOGFLIX</h1>
    <h2 class="mb-3">Registrieren</h2>

    <div class="w-50 h-25">
        <form class="d-flex flex-column form-floating" (ngSubmit)="signup()">
            <div class="form-floating mb-3 w-50 align-self-center" style="max-width:18rem;">
                <input type="text" class="form-control text-bg-secondary border-0" placeholder="username" name="email"
                    id="usernameField" [(ngModel)]="username" required style="box-shadow: none;">
                <label for="usernameField">Enter your username</label>

            </div>
            <div class="form-floating mb-3 w-50 align-self-center" style="max-width:18rem;">
                <input type="email" class="form-control text-bg-secondary border-0" placeholder="name@example.com"
                    name="email" id="emailField" [(ngModel)]="email" required style="box-shadow: none;">
                <label for="emailField">Enter your email</label>
            </div>
            <div class="form-floating mb-3 w-50 align-self-center" style="max-width:18rem;">
                <input [type]="hide ? 'password' : 'text'" class="form-control text-bg-secondary border-0"
                    name="password" id="passwordField" [(ngModel)]="password" placeholder="Enter your password" style=" box-shadow:none;">
                <button tabindex="-1" (click)="togglePWField($event)" class="border-0 text-bg-secondary rounded-2"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                    style="color: white;position:absolute;right:0;bottom:0;top:0;">
                    <span class="material-icons">{{hide ? 'visibility_off' : 'visibility'}}</span>
                </button>
                <label for="passwordField">Enter your password</label>
            </div>
            <div [class.invalid]="password != password2 && password.length > 0 && password2.length > 0" [class.valid]="password == password2 && password.length > 0 && password2.length > 0" class="form-floating mb-3 w-50 align-self-center" style="max-width:18rem;">
                <input [type]="hide2 ? 'password' : 'text'" class="form-control text-bg-secondary border-0"
                    name="password2" id="passwordField2" [(ngModel)]="password2" placeholder="Bestätige dein Password" style="box-shadow:none;">
                <button tabindex="-1" (click)="togglePWField2($event)" class="border-0 text-bg-secondary rounded-2"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                    style="color: white;position:absolute;right:0;bottom:0;top:0;">
                    <span class="material-icons">{{hide2 ? 'visibility_off' : 'visibility'}}</span>
                </button>
                <label for="passwordField">Reenter your password</label>
            </div>
            <button class="w-50 align-self-center bg-danger mt-3 rounded border-0"
                style="max-width:18rem;max-height:3rem;height:2.5rem;" [disabled]="send">Jetzt registrieren</button>

            <div class="mt-3 align-self-center ">
                <span>Bereits registriert?<a routerLink="/login">Jetzt einloggen</a></span>
            </div>

        </form>

    </div>
    <div class="card text-bg-dark rounded-3" *ngIf="success" style="position:absolute;z-index:100;max-width:25rem;">
        <div class="card-title text-danger d-flex text-align-center justify-content-center align-items-center w-100" style="font-weight:900; font-size:4rem;">DOGFLIX</div>
        <div class="card-body d-flex justify-content-center align-items-center">
          <p class="text-success" style="text-align:center">Du hast dich erfolgreich registriert. Bitte bestätige deine Email Adresse.
            Du wirst in 3 Sekunden zum Login weitergeleitet.</p>
        </div>
      </div>
      <div class="card text-bg-dark rounded-3" *ngIf="signup_failed" style="position:absolute;z-index:100;max-width:25rem;min-width:20rem;min-height:15rem;">
        <div class="card-title text-danger d-flex text-align-center justify-content-center align-items-center w-100" style="font-weight:900; font-size:4rem;">DOGFLIX</div>
        <div class="card-body d-flex justify-content-center align-items-center flex-column">
          <p class="text-danger" style="text-align:center">{{fail_message}}</p>
          <span class="text-danger">{{message}}</span>
        </div>
      </div>
</div>


<app-footer></app-footer>